.postDetail {
  width: 80%;
  margin: 0 auto;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.postComments,
.postContent {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 50%;
}

.postContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.postContent div:first-child {
  width: 80%;
}

.postContent h2 {
  margin-bottom: 1vw;
  font-size: 2vw;
  color: #b11b20;
}

.postContent div:first-child p {
  font-size: 1vw;
}

.postContent div:last-child p {
  font-size: 0.8vw;
}

.postContent span {
  font-weight: bold;
  margin-right: 0.3rem;
}

.postComments {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: auto;
}

.postComments h2 {
  font-size: 2vw;
  text-align: center;
  color: #b11b20;
  margin-bottom: 1vw;
}

.postComments div {
  margin-bottom: 1vw;
  border-bottom: 1px dotted grey;
}

.postComments div h3 {
  font-size: 1vw;
}

.postComments div p {
  margin-bottom: 1rem;
  font-size: 0.8vw;
}

.btnDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.backButton {
  background-color: #b11b20;
  color: white;
  width: 10%;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.9;
  margin: 2rem auto 1rem;
}

@media (max-width: 1201px) {
  .postContent h2 {
    font-size: 2.5vw;
  }

  .postContent div:first-child p {
    font-size: 1.5vw;
  }

  .postContent div:last-child p {
    font-size: 1.2vw;
  }

  .postComments div h3 {
    font-size: 1.2vw;
  }

  .postComments div p {
    margin-bottom: 1rem;
    font-size: 1vw;
  }
}

@media (max-width: 1024px) {
  .postDetail {
    width: 90%;
  }

  .postComments,
  .postContent {
    width: 60%;
  }

  .postContent h2 {
    font-size: 2.5vw;
  }

  .postContent div:first-child p {
    font-size: 1.5vw;
  }

  .postContent div:last-child p {
    font-size: 1.2vw;
  }

  .postComments h2 {
    font-size: 2.5vw;
  }

  .postComments div h3 {
    font-size: 1.8vw;
  }

  .postComments div p {
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .postDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .postComments,
  .postContent {
    width: 90%;
    height: 55%;
  }

  .postContent div:first-child {
    width: 90%;
  }

  .postContent h2 {
    font-size: 4vw;
  }

  .postContent div:first-child p {
    font-size: 2.8vw;
  }

  .postContent div:last-child p {
    font-size: 2.5vw;
  }

  .postComments h2 {
    font-size: 4vw;
  }

  .postComments div h3 {
    font-size: 2.5vw;
  }

  .postComments div p {
    font-size: 2.5vw;
  }

  .backButton {
    width: 30%;
    height: 2rem;
    font-size: 2vh;
  }
}

@media (max-width: 481px) {
  .postDetail {
    width: 95%;
    height: 70vh;
  }

  .postComments,
  .postContent {
    width: 90%;
  }

  .postContent div:first-child {
    width: 100%;
  }

  .postContent h2 {
    font-size: 6vw;
  }

  .postContent div:first-child p {
    font-size: 3.5vw;
  }

  .postContent div:last-child p {
    font-size: 3vw;
  }

  .postComments h2 {
    font-size: 6vw;
  }

  .postComments div h3 {
    font-size: 3vw;
  }

  .postComments div p {
    font-size: 3vw;
  }

  .backButton {
    width: 30%;
    height: 2rem;
  }
}
